.popup__input {
  width: 100%;
  height: 35px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.span-error {
  display: block;
  min-height: 33px;
  font-size: 12px;
  line-height: 14.52px;
  color: red;
}

.popup__input:focus-visible {
  outline: 1px solid rgb(0, 132, 255);
  box-shadow: 0px 0px 2px 3px rgba(0, 109, 255, 1);
}

.popup__input_type_error {
  border-bottom: 1px solid rgb(255, 0, 0);
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
